
.container {
  max-width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
}
.container h1 {
  text-align: center;
  font-size: 3rem;
}

.title-h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  font-weight: bold;
}

.icon {
  margin-right: 1rem;
  width: 50px; /* Set a specific width */
  height: 50px; 
  object-fit: contain;
}