.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color:#263c91;

}

.navbar h2 a {
    opacity: 1;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.new-btn {
    font-weight: bold;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}